---
---

@import 'modern-resume-theme';
table {
    font-size: 1.5rem;
}

img:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

#proyectos, #conocimientos {
    max-width: 70%;
    width: 70%;
}